@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system with custom variables */

:root {
  --background: 231 224 216;
  --foreground: 210 32% 18%;
  --card: 245 242 240;
  --card-foreground: 210 32% 18%;
  --popover: 0 0% 100%;
  --popover-foreground: 210 32% 18%;
  --primary: 248 76% 70%;
  --primary-foreground: 0 0% 100%;
  --secondary: 89 91% 67%;
  --secondary-foreground: 220 13% 32%;
  --muted: 231 224 216;
  --muted-foreground: 220 9% 46%;
  --accent: 0 0% 88%;
  --accent-foreground: 217 19% 27%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 28 22% 82%;
  --input: 28 22% 82%;
  --ring: 248 76% 70%;
  --chart-1: 248 76% 70%;
  --chart-2: 248 69% 64%;
  --chart-3: 248 62% 58%;
  --chart-4: 248 55% 52%;
  --chart-5: 248 48% 46%;
  --sidebar: 28 22% 82%;
  --sidebar-foreground: 210 32% 18%;
  --sidebar-primary: 248 76% 70%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 317 21% 95%;
  --sidebar-accent-foreground: 217 19% 27%;
  --sidebar-border: 28 22% 82%;
  --sidebar-ring: 248 76% 70%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 30 8% 11%;
  --foreground: 226 64% 88%;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 100%;
  --popover: 30 8% 11%;
  --popover-foreground: 226 64% 88%;
  --primary: 89 91% 67%;
  --primary-foreground: 30 8% 11%;
  --secondary: 243 58% 71%;
  --secondary-foreground: 0 0% 100%;
  --muted: 32 12% 16%;
  --muted-foreground: 220 9% 68%;
  --accent: 0 0% 19%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 30 8% 11%;
  --border: 34 15% 21%;
  --input: 34 15% 21%;
  --ring: 244 58% 81%;
  --chart-1: 244 58% 81%;
  --chart-2: 248 76% 70%;
  --chart-3: 248 69% 64%;
  --chart-4: 248 62% 58%;
  --chart-5: 248 55% 52%;
  --sidebar: 34 15% 21%;
  --sidebar-foreground: 226 64% 88%;
  --sidebar-primary: 244 58% 81%;
  --sidebar-primary-foreground: 30 8% 11%;
  --sidebar-accent: 243 58% 71%;
  --sidebar-accent-foreground: 229 23% 82%;
  --sidebar-border: 34 15% 21%;
  --sidebar-ring: 244 58% 81%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}